.container {
  width: 500px;
  min-height: 370px;
  padding: 25px 40px;

  background: $branco;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
